:root {
    --blue: rgb(27, 155, 205);
    --silver: #c1c1c1;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;  
}

.wrapper {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    gap: 50px;
    padding-top: 3em;
}

button {
    height: 5em;
    width: 15em;
    border-radius: 15px;
    background-color: var(--silver);
    font-size: 15px;
    border: 3px white solid;
    cursor: pointer;

}

button:hover {
    background-color:#a1a1a1
}

.logout-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5em;
}

.point-tables {
    margin: 1em 1em;
    padding-bottom: 3em;
    font-size: 23px;
}

.status-table table th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background: #f2f2f2;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.status-table table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: #d2d1d1ff;
    font-family: Arial, sans-serif;
}

#status-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.status-table {
    padding: 2em 2em;
    text-align: center;
}


.status-table h3 {
    font-size: 50px;
    margin-bottom: 0.5em;
}


/* Select all Button styling */
.select-all {
    background-color: var(--silver);
    font-size: 2em;
    width: 5em;
    border-radius: 15px;
    border: 3px white solid;
    
}

.select-all input[type="checkbox"] {
    height: 1.5em;
    width:1.5em;
}