:root {
    --blue: rgb(27, 155, 205);
    --silver: #c1c1c1;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;  
}

.wrapper {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    gap: 50px;
    padding-top: 3em;
}

button {
    height: 5em;
    width: 15em;
    border-radius: 15px;
    background-color: var(--silver);
    font-size: 15px;
    border: 3px white solid;
    cursor: pointer;

}

button:hover {
    background-color:#a1a1a1
}

.logout-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 5em;
}

.point-tables {
    margin: 1em 1em;
    padding-bottom: 3em;
    font-size: 23px;
}