.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Helvetica, Arial, sans-serif;
}


.file-button {
    height: 5em;
    width: 15em;
    border-radius: 15px;
    background-color: var(--silver);
    font-size: 15px;
    border: 3px white solid;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.file-button:hover {
    background-color:#a1a1a1
}